<!--

    0: (SHUTDOWN)
•	1: (STARTED)
•	2: (MOUNTED)
•	3: (OPEN)

-->

<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <app-sidenav></app-sidenav>
    </mat-drawer>
    <mat-drawer-content>
        <app-header (click)="sideBarToggler()"></app-header>
        <div class="container-fluid page">
          <div class="d-flex page__box p-3 mt-2">Oracle_Instance_Status</div>
          <div class="page__content shadow p-3 position-relative">
            <div class="page__content-data position-absolute text-center">
              <div class="container">
                <h2>Oracle_Instance_Status_chart</h2>
                <div class="charts-container">
                  <div class="chart-item">
                    <canvas id="linechart-instance"></canvas>
                  </div>
                  <!-- <div class="chart-item">
                    <canvas id="linechart-allocated"></canvas>
                  </div>
                  <div class="chart-item">
                    <canvas id="linechart-freeable"></canvas>
                  </div>
                  <div class="chart-item">
                    <canvas id="linechart-inuse"></canvas>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-drawer-content>
  </mat-drawer-container>
  